<h1 align="center">All articles</h1>
<div align="center">
	<%= will_paginate @articles %>
</div>
<%= render 'article', articles: @articles %>
<div align="center">
	<%= will_paginate @articles %>
</div>
