$navbar-default-bg: #1976D2;

@import "bootstrap-sprockets";
@import "bootstrap";

.navbar-nav a {
  color: #fff!important;
}

.navbar-nav a:hover {
  text-decoration: underline!important;
}

.navbar-nav .dropdown li a {
  color: #000!important;
}

#brand {
	float: left;
	color: #fff;
	font-size: 1.7em;
	text-transform: uppercase;
	letter-spacing: -1px;
}

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url('cover_page.jpg');
  background-size: cover;
  height: 550px;
}

.jumbotron h1 {
	color: #fff;
	text-shadow: -1px 0 #757575, 0 1px #757575, 1px 0 #757575, 0 -1px #757575;
	text-align: center;
	margin-top: 100px;
	letter-spacing: -1px;
}

footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid #bdbdbd;
}

footer small {
	float: left;
}

footer ul {
	float: right;
	list-style: none;
}

.article-actions {
	padding-left: 0px;
}
