<h1 align="center">All categories</h1>

<div align="center">
	<%= will_paginate @categories %>
</div>

<% @categories.sort_by{|c| - c.name}.each do |category| %>
	<ul class="listing" align="center">
		<div class="row">
			<div class="well col-md-6 col-md-offset-3 user-card">
				<li class="article-title">
					<%= link_to "#{category.name}", category_path(category) %>
				</li>
				<li>
					<li>
						<%= pluralize(category.articles.count, "article") %>
					</li>
				</li>
			</div>
		</div>
	</ul>
<% end %>

<div align="center">
	<%= will_paginate @categories %>
</div>
